@charset "utf-8";

@media  screen and (max-width:1024px){
    
    body{max-width: 1024px; height: 100%;}
    .header .navWrap{display: none;}
    .header .lang{display: none;}
    .header.fixed{display: none;}

    /* .header{width:100%;} */
    .headerWrap{
        width: 100%; margin: 0 auto;
        display: flex; justify-content:space-between; padding: 0 20px;

    }
    .headerWrap .toggle{
        width: 50px; height: 40px; cursor: pointer; _background: #000;
        display: flex; justify-content: center; align-items: center;
    }
    .headerWrap .toggle div{
        width: 40px; height: 5px; background: #fff;
        border-radius: 5px; position: absolute; transition: 0.3s;
    }
    .headerWrap .toggle .bar1{transform: translateY(-15px);}
    .headerWrap .toggle .bar3{transform: translateY(15px);}

    .toggle.active .bar1{transform:translateY(0px) rotate(45deg);}
    .toggle.active .bar2{opacity: 0;}
    .toggle.active .bar3{transform:translateY(0px) rotate(-45deg);}

    .navbar{
        width: 500px; height: 100%; background: #222;
        position: fixed; top: 0; right: 0; transition: 0.3s;
        display: flex; justify-content: center; align-items: center;
    }

    .visual{background-size: 300%; height: 1083px; position: relative;}
    .visual .prev1,
    .visual .next1{display: none;}
    .visual .prev1 img,
    .container .title h1{
        text-align: center; font-size: 5.5vw; color: #fff; width: 600px;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        letter-spacing: -0.05em;
        margin-bottom: 20px;
    }
    .container .title p{display: none;}


}