@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif; background: #EFEDE9; overflow-x:hidden;}

/* visual */

.container{
    height: 100vh; min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; justify-content: center; align-items: center;
}
.container.slide1{background-image: url(../images/slide01_1.png);}
.container.slide2{background-image: url(../images/slide01_2.png);}
.container.slide3{background-image: url(../images/slide01_3.png);}
.container .title{text-align: center; transform: translateY(-161px);}
.container .title h1{
    text-align: center; font-size:54px; color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: -0.05em; margin-bottom: 20px;
}
.container .title p{
    font-size: 24px; color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: -0.05em; text-align: center;
}

.visual .bx-wrapper .bx-pager{
    position: absolute; top: 70%; left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a{
    background-color:#EFEDE9;
    width: 14px; height: 14px; border-radius: 50%;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color: #E2000E; border-radius: 10px;
    width: 30px; height: 14px;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a:hover{background-color: #E2000E;}

.visual{position: relative;}
.visual .prev1,
.visual .next1{
    position: absolute;
    top: 50%; transform:translateY(-50%);
    cursor: pointer;
}
.visual .prev1{left: 0; margin-left: 60px;}
.visual .next1{right: 0; margin-right: 60px;}

/* header */

.header{
    width: 100%; position: absolute; top: 25px;
     z-index: 999; transition: 0.3s;
}
.headerWrap{
    width: 1280px; margin: 0 auto;
    display: flex; justify-content: space-between;
}
.headerWrap h1 a{
    display: block;
    background-image: url(../images/header_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 152px; height: 40px;
    text-indent: -9999px;
}
.header.fixed{
    background: #fff; position: fixed;
    width: 100%; height: 80px; top: 0; padding: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header.fixed h1 a{
    display: block;
    background-image: url(../images/header_logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 152px; height: 40px; margin: 5px 0 0 20px;
    text-indent: -9999px;
}
.header.fixed .navWrap a{color: #2b2b2b;}
.header.fixed .lang div{color: #E2000E;}
.header.fixed .lang div.active{color: #fff;}

.navWrap{width: 1000px; display: flex;}
.navWrap .navbar{margin-left: auto; margin-right: 0px;}
.navWrap .navbar > ul{width: 620px; display: flex;}
.navWrap .navbar > ul > li > a{
    font-size: 20px; font-weight: bold;
    color: #fff; line-height: 45px; letter-spacing: -0.05em;
    display: flex; justify-content: center; align-items: center;
    margin: 0 30px; position: relative;
}
.navWrap .navbar > ul > li > a:after{
    content: ""; position: absolute; height: 2px; width: 100%;
    background: #fff; transition: 0.3s; transform: scale(0);
    bottom: -5px;
}
.navWrap .navbar > ul > li > a:hover:after{transform: scale(1);}

.navWrap .navbar .submenu{
    display: none; padding: 10px 0;
}
.navWrap .navbar:hover .submenu{display: block;}
.navWrap .navbar .submenu a{
    display: block; text-align: center; line-height: 20px;
    font-size: 16px; padding: 10px 0; color: #fff; letter-spacing: -0.05em;
}


.header .lang{display: flex;}
.lang div{
    width: 50px; height: 50px; color: #fff;
    border: 1px solid #E2000E; font-size: 16px;
    padding: 10px 8px; cursor: pointer;
}
.lang div.active{background: #E2000E;}

/* contents */

.contents{
    width: 1280px; height: 1280px; margin: 0 auto;
    margin-top: -380px; margin-bottom: 80px;
}
.contents>ul{display: flex; flex-wrap: wrap; position: relative;}
.contents>ul>li{width: 25%; height: 320px; position: relative;}
.contents>ul>li:nth-child(1){background: #EFEDE9;}
.contents>ul>li:nth-child(2){
    background-image: url(../images/video_img.png);
    display: flex; justify-content: center; align-items: center;
}
.contents>ul>li:nth-child(3){width: 50%; background: #ccc;}
.contents>ul>li:nth-child(4){background: #E2000E;}
.contents>ul>li:nth-child(5){width: 50%;}
.contents>ul>li:nth-child(6){background: #D2D0CC;}
.contents>ul>li:nth-child(7){height: 640px;}
.contents>ul>li:nth-child(8){background: #EFEDE9;}
.contents>ul>li:nth-child(9){width: 50%;}
.contents>ul>li:nth-child(10){width: 50%; position: absolute; right: 320px; bottom: 0;}
.contents>ul>li:nth-child(11){background: #C00000; position: absolute; right: 0; bottom: 0;}

.contents>ul>li>a{
    height: 100%; 
    display: flex; justify-content: center; align-items: center;
}
.contents .card:hover{transform: scale(1.03); transition: 0.3s;}
.contents .card img{margin: 0 auto; margin-bottom: 20px;}
.contents .card p{
    color: #29303E; text-align: center;
    font-size: 20px; font-weight: bold; letter-spacing: -0.035em;
}
.contents .card.red p{color: #fff;}
.contents h3{
    color: #fff; font-size: 24px; letter-spacing: -0.035em;
    position: absolute; top: 20px; left: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.contents h3:after{
    content: ""; display: block;
    width: 100%; height: 3px; background: #fff;
    margin: 5px 0; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.contents .cardTwo h3{position: absolute; top: 577px; left: 192px;}
.contents .videoBtn:hover{transform:scale(1.1);}

.contents .news1{position: relative;}
.contents .news1 .item ul{display: flex;}
.contents .news1 .item ul>li{width: 50%; background: #fff;}
.contents .news1 .item ul>li:nth-child(1){position: relative;}
.contents .news1 .item ul>li:nth-child(1):after{
    content:"";display: block; position: absolute;
    border-width:15px;
    border-color:transparent transparent transparent #fff;
    border-style:solid;
    right: -30px; top: 50%;
    transform:translateY(-50%)
}
.contents .news1 .newsBox{position: absolute; top: 90px; left: 20px;}
.contents .news1 .newsBox .txt1{
    font-size: 16px; letter-spacing: -0.035em; color:#111;
    margin-bottom: 15px;
}
.contents .news1 .newsBox .txt2{font-size: 14px; letter-spacing: -0.035em; color:#333;}

.contents .news1 .news1_title{display: flex; position: absolute; top: 30px; left: 20px;}
.contents .news1 .news1_title p{
    font-size: 20px; letter-spacing: -0.035em; color:#111;
    font-weight: bold; margin-left: 5px;
}
.contents .news1 .btnWrap{
    display: flex; cursor: pointer;
    position: absolute; bottom: 30px; right: 350px;
}

/* article */
/* one */
.main-article.one{background: #fff; padding: 80px 0;}
.maTxt{text-align: center; margin-bottom: 50px;}
.maTxt p{font-size: 28px; letter-spacing: -0.035em;}
.maTxt h4{font-size: 36px; letter-spacing: -0.035em;}
.maWrap{
    display: flex; justify-content: space-between; align-items: center; 
    width: 1222px; margin: 0 auto; margin-bottom: 50px;
}
.wrapTxt .mainT{font-size: 24px; letter-spacing:-0.035em; color: #111; margin-bottom: 15px;}
.wrapTxt .subT{font-size: 18px; letter-spacing:-0.035em; color: #333;}

.mb-none{margin-bottom:0;}

/* two */

.main-article.two{
    padding: 80px 0;
    background: url(../images/news_bgi.png) no-repeat center fixed;
    background-size: cover;
}
.main-article.two .swiperWrap{
    width: 1280px; height: 640px; margin: 0 auto; background: #EFEDE9;
    overflow: hidden;
}
.main-article.two .swiperWrap > ul{display: flex;}
.main-article.two .swiperWrap > ul > li{height: 640px;}
.main-article.two .swiperWrap > ul >li:nth-child(1){
    background: #E2000E; width: 320px; padding: 90px 44px 50px 44px;
    position: relative;
}
.swiperWrap .titleBox{margin-bottom: 107px;}
.swiperWrap .titleBox img{display: block; margin: 0 auto;}
.swiperWrap .titleBox h3{
    text-align: center; color: #fff; 
    font-size: 36px; letter-spacing: -0.035em;
}
.swiperWrap .txt{
    color:#fff; font-size: 16px; 
    letter-spacing:-0.035em; margin-bottom: 107px;
}
.swiperWrap .btnWrap{
    position: absolute; 
    right: 44px; cursor: pointer;
    display: flex;
}
.swiperWrap .btnWrap div{
    width: 40px;height: 40px; background: block;
}
.swiperWrap .btnWrap .prev2{
    background-image: url(../images/news_prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiperWrap .btnWrap .next2{
    background-image: url(../images/news_next.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-article.two .swiperWrap .swiper > ul{width: 960px; display: flex;}
.main-article.two .swiperWrap .swiper .swiperBox{height: 320px;}
.swiper .swiperBox{padding: 37px 22px;}
.swiper .swiperBox p{font-size: 14px; letter-spacing: -0.035em; color:#222;}
.swiper .swiperBox span{
    font-size: 12px; letter-spacing: -0.035em; color:#444;
    position: absolute; bottom: 40px;
}
.swiper .swiperBox.top span{top: 270px;}
.swiper .swiperBox i{color:#E2000E; margin-right: 5px;}
.swiper .basic{position: relative; cursor: pointer;}
.swiper .basic .img{overflow: hidden;}
.swiper .basic:after{
    content:"";display: block; position: absolute;
    border-width:15px;
    border-color: transparent transparent #EFEDE9 transparent;
    border-style:solid;
    left: 50%; bottom: 50%;
    transform:translateX(-50%)
}
.swiper .change:after{
    content:"";display: block; position: absolute;
    border-width:15px;
    border-color: #EFEDE9 transparent transparent transparent;
    border-style:solid;
    left: 50%; top: 50%;
}
.swiper .basic .view{
    width: 320px; height: 320px;
    position: absolute;
    background:rgba(0,0,0,0.4);
    transition: 0.7s;
    top: 0; left: 0;
}
.swiper .basic.change .view{top: 320px; left: 0;}
.swiper .basic:hover img{transform: scale(1.1); transition: 0.3s;}
.swiper .basic:hover .view{background:rgba(0,0,0,0.2);}

.swiper .viewTxt{position: absolute; bottom: 25px; left: 25px; color:#EFEDE9;}
.swiper .viewTxt h5{font-size: 24px; letter-spacing:-0.05em;}
.swiper .viewTxt h5:before{
    content: ""; display: block; background:#EFEDE9;
    width: 45px; height: 2px; margin-bottom: 5px;
}
.swiper .viewTxt p{font-size: 16px; letter-spacing: -0.05em;}
.swiper-pagination{display: none;}

/* three */
.main-article.three{background: #fff; padding: 80px 0;}
.banner{
    width: 1280px; margin: 0 auto; 
    display: flex; justify-content: space-between;
}
.banner > div{position: relative; overflow: hidden;}
.banner h5{
    font-size: 28px; letter-spacing:-0.05em; color:#fff;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
    position: absolute; top: 40px; left: 40px;
}
.banner .bn_btn{
    width: 280px; height: 55px; background: #E2000E;
    display: flex; align-items: center; cursor: pointer;
    color:#fff; border-radius:5px; padding: 10px;
    position: absolute; bottom: 30px; right: 30px;
    display: flex; justify-content: center;
}
.banner .bn_btn img{width: 45px; height: 35px;}
.banner .bn_btn p{
    font-size: 18px; font-weight:bold; letter-spacing: -0.05em;
    margin: 0 30px;
}
.banner div:hover .img{transform: scale(1.1); transition: 0.5s;}

/* footer */
footer .mobile{display: none;}
footer{background: #333; position: relative;}
footer .utilWrap{width: 1280px; margin: 0 auto; padding: 10px 0;}
footer .util{display: flex; justify-content: space-between;}
footer .uNav{float: left;}
footer .uNav li{position: relative; float: left;}
footer .uNav li:after{
    content: ""; display: block; width: 1px; height: 7px;
    background: #c4c4c4; position: absolute; top:17px; left: 0px;
}
footer .uNav li:first-child:after{content:""; display: none;}
footer .uNav a{
    display: block; padding: 10px;
    font-size: 14px; letter-spacing: -0.1em; color:#eee;
}
.wall{
    content: ""; display: block; height: 1px;
    background: #444;
}
footer .fSite{position: relative;}
footer .fSite button{
    width: 180px; height: 30px; border: 1px solid #888; margin-top: 5px;
    background: #333; color: #888; font-size: 14px; font-weight: bold;
    letter-spacing: -0.05em; text-align: left; padding: 0 0 0 10px;
}
footer .fSite .arrow{
    content:""; display: block; 
    position: absolute;
    border-width: 6px;
    border-color:transparent transparent #888 transparent;
    border-style:solid;
    right: 10px; top: 50%;
    transform:translateY(-80%);
}
footer .info{width: 1280px; margin: 0 auto; padding: 18px 250px; position: relative;}
footer .info > img{position: absolute; left: 0;}
footer .info .wrap p{font-size: 14px; letter-spacing: -0.1em; color:#888;}
footer .info .wrap p > span{content: ""; display: inline-block; width: 15px;}
footer .call{
    position: absolute; right: 0; top: 18px;
    letter-spacing: -0.05em;
}
footer .call p{font-size: 14px; letter-spacing: -0.1em; color:#888;}
footer .call h5{font-size: 28px; color:#fff;}
footer .sns{margin:14px 0 10px;}
footer .sns li{float: left;}
footer .copy{
    font-size: 12px; letter-spacing: -0.05em; color: #444;
}

/* sub */
body.sub{background: #fff;}

section.sub-visual{
    height: 25.5vw; position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section.sub-visual .inner{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    color: #fff; letter-spacing: -0.035em;
}
section.sub-visual .inner h2{font-size: 3vw;}
section.sub-visual .inner p{font-size: 1.5vw; text-align: center;}
section.sub-visual::after{
    content:""; display: block;
    width: 100%; height: 3px; background: #E2000E;
    position: absolute; bottom: 0; left: 0;
}
section.content{margin-top: 30px;}
section.content .pc_img{margin: 0 auto;}
section.content .mobile_img{display: none;}
section.content .locat{
    display: flex; align-items: center; 
    width: 1280px; margin: 0 auto; letter-spacing: -0.05em;
}
section.content .locat ul{display: flex;}
section.content .locat ul li{position: relative;}
section.content .locat ul li::after{
    content:""; display: block; width: 1px; height: 13px;
    background: #111; position: absolute; top: 10px;
}
section.content .locat ul li:first-child::after{display: none;}
section.content .locat ul li a{
    display: block; padding: 0 10px; color: #111;
    font-size: 18px;
}
section.content .locat ul li:last-child a{color:#E2000E;}
section.content h3{
    font-size: 36px; text-align: center; color: #111;
    margin:50px 0 80px 0; letter-spacing: -0.05em;
}

.sub-nav{
    width: 1280px; position: absolute;  
    left: 50%; bottom: 0; transform: translateX(-50%);
}
.sub-nav > ul{display: flex; justify-content: space-between; align-items: center;}
.sub-nav ul > li{
    width: calc(100% / 4); height: 70px; 
    border: 2px solid #E2000E; border-bottom: none; border-right: none;
    font-size: 24px; letter-spacing: -0.05em; color:#E2000E;
    display: flex; justify-content: center; align-items: center;
    background-color: #fff; cursor: pointer;
}
.sub-nav ul > li:last-child{border-right:2px solid;}
.sub-nav ul > li.active{background: #E2000E; color:#fff}
.sub-nav ul > li.active:last-child{border-right:2px solid #E2000E;}

.content .sub-nav-content .depth2{display: none;}
.content .sub-nav-content .depth2.active{display: block;}

.sub-nav.gp ul > li{width: calc(100% / 3);}