@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif; background: #EFEDE9;}

/* visual */

.container{
    height: 100vh; min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; justify-content: center; align-items: center;
}
.container.slide1{background-image: url(../images/slide01_1.png);}
.container.slide2{background-image: url(../images/slide01_2.png);}
.container.slide3{background-image: url(../images/slide01_3.png);}
.container .title{text-align: center; transform: translateY(-161px);}
.container .title h1{
    text-align: center; font-size:54px; color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: -0.05em; margin-bottom: 20px;
}
.container .title p{
    font-size: 24px; color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: -0.05em; text-align: center;
}

.visual .bx-wrapper .bx-pager{
    position: absolute; top: 70%; left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a{
    background-color:#EFEDE9;
    width: 14px; height: 14px; border-radius: 50%;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color: #E2000E; border-radius: 10px;
    width: 30px; height: 14px;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a:hover{background-color: #E2000E;}

.visual{position: relative;}
.visual .prev1,
.visual .next1{
    position: absolute;
    top: 50%; transform:translateY(-50%);
    cursor: pointer;
}
.visual .prev1{left: 0; margin-left: 60px;}
.visual .next1{right: 0; margin-right: 60px;}

/* header */

.header{
    width: 100%; position: absolute; top: 40px;
     z-index: 1; transition: 0.3s;
}
.headerWrap{
    width: 1280px; margin: 0 auto;
    display: flex; justify-content: space-between;
}
.headerWrap h1 a{
    display: block;
    background-image: url(../images/header_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px; height: 50px;
    text-indent: -9999px;
}
.header.fixed{
    background: #fff; position: fixed;
    width: 100%; height: 80px; top: 0; padding: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header.fixed h1 a{
    display: block;
    background-image: url(../images/header_logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 152px; height: 40px; margin: 5px 0 0 20px;
    text-indent: -9999px;
}
.header.fixed .navWrap a{color: #2b2b2b;}
.header.fixed .lang div{color: #E2000E;}
.header.fixed .lang div.active{color: #fff;}

.navWrap{width: 1000px; display: flex;}
.navWrap .navbar{margin-left: auto; margin-right: 50px;}
.navWrap .navbar > ul{width: 620px; display: flex;}
.navWrap .navbar > ul > li{width:calc(100% / 4); position: relative;}
.navWrap .navbar > ul > li:after{
    content: ""; position: absolute; height: 3px; width: 100%;
    background: #fff; transition: 0.3s; transform: scale(0);
}
.navWrap .navbar > ul > li:hover:after{transform: scale(1);}
.navWrap .navbar > ul > li > a{
    font-size: 20px; font-weight: bold;
    color: #fff; line-height: 45px; letter-spacing: -0.05em;
    display: flex; justify-content: center; align-items: center; 
}
/* a태그에는 왜 after 적용이 안되는지 */


.header .lang{display: flex;}
.lang div{
    width: 50px; height: 50px; color: #fff;
    border: 1px solid #E2000E; font-size: 16px;
    padding: 10px 8px; cursor: pointer;
}
.lang div.active{background: #E2000E;}

/* contents */

.contents{
    width: 1280px; height: 1280px; margin: 0 auto;
    margin-top: -380px; margin-bottom: 80px;
}
.contents>ul{display: flex; flex-wrap: wrap; position: relative;}
.contents>ul>li{width: 25%; height: 320px; position: relative;}
.contents>ul>li:nth-child(1){background: #EFEDE9;}
.contents>ul>li:nth-child(2){
    background-image: url(../images/video_img.png);
    display: flex; justify-content: center; align-items: center;
}
.contents>ul>li:nth-child(3){width: 50%; background: #ccc;}
.contents>ul>li:nth-child(4){background: #E2000E;}
.contents>ul>li:nth-child(5){width: 50%;}
.contents>ul>li:nth-child(6){background: #D2D0CC;}
.contents>ul>li:nth-child(7){height: 640px;}
.contents>ul>li:nth-child(8){background: #EFEDE9;}
.contents>ul>li:nth-child(9){width: 50%;}
.contents>ul>li:nth-child(10){width: 50%; position: absolute; right: 320px; bottom: 0;}
.contents>ul>li:nth-child(11){background: #C00000; position: absolute; right: 0; bottom: 0;}

.contents>ul>li>a{
    height: 100%; 
    display: flex; justify-content: center; align-items: center;
}
.contents .card:hover{transform: scale(1.03); transition: 0.3s;}
.contents .card img{margin: 0 auto; margin-bottom: 20px;}
.contents .card p{
    color: #29303E; text-align: center;
    font-size: 20px; font-weight: bold; letter-spacing: -0.035em;
}
.contents .card.red p{color: #fff;}
.contents h3{
    color: #fff; font-size: 24px; letter-spacing: -0.035em;
    position: absolute; top: 20px; left: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.contents h3:after{
    content: ""; display: block;
    width: 100%; height: 3px; background: #fff;
    margin: 5px 0; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.contents .cardTwo h3{position: absolute; top: 577px; left: 192px;}
.contents .videoBtn:hover{transform:scale(1.1);}
/* 왜 X 아이콘이 안뜨는지!!!! 동영상 업로드가 안된다...........*/

.contents .news1{position: relative;}
.contents .news1 .item ul{display: flex;}
.contents .news1 .item ul>li{width: 50%; background: #fff;}
.contents .news1 .item ul>li:nth-child(1){position: relative;}
.contents .news1 .item ul>li:nth-child(1):after{
    content:"";display: block; position: absolute;
    border-width:15px;
    border-color:transparent transparent transparent #fff;
    border-style:solid;
    right: -30px; top: 50%;
    transform:translateY(-50%)
}
.contents .news1 .newsBox{position: absolute; top: 90px; left: 20px;}
.contents .news1 .newsBox .txt1{
    font-size: 16px; letter-spacing: -0.035em; color:#111;
    margin-bottom: 15px;
}
.contents .news1 .newsBox .txt2{font-size: 14px; letter-spacing: -0.035em; color:#333;}

.contents .news1 .news1_title{display: flex; position: absolute; top: 30px; left: 20px;}
.contents .news1 .news1_title p{
    font-size: 20px; letter-spacing: -0.035em; color:#111;
    font-weight: bold; margin-left: 5px;
}
.contents .news1 .btnWrap{
    display: flex; cursor: pointer;
    position: absolute; bottom: 30px; right: 350px;
}

/* article */
.main-article.one{background: #fff; padding: 80px 0;}
.maTxt{text-align: center; margin-bottom: 50px;}
.maTxt p{font-size: 28px; letter-spacing: -0.035em;}
.maTxt h4{font-size: 36px; letter-spacing: -0.035em;}
.maWrap{
    display: flex; justify-content: space-between; align-items: center; 
    width: 1222px; margin: 0 auto; margin-bottom: 50px;
}
/* .maWrap:hover{transform: scale(1.05); transition: 0.5s;} */
.wrapTxt .mainT{font-size: 24px; letter-spacing:-0.035em; color: #111; margin-bottom: 15px;}
.wrapTxt .subT{font-size: 18px; letter-spacing:-0.035em; color: #333;}

.mb-none{margin-bottom:0;}

.main-article.two{
    padding: 80px 0;
    background: url(../images/news_bgi.png) no-repeat center fixed;
    background-size: cover;
}
.main-article.two .newsWrap{
    width: 1280px; height: 640px; margin: 0 auto; background: #EFEDE9;
    overflow: hidden;
}
.main-article.two .newsWrap > ul{display: flex;}
.main-article.two .newsWrap > ul > li{height: 640px;}
.main-article.two .newsWrap > ul >li:nth-child(1){
    background: #E2000E; width: 320px; padding: 90px 44px 50px 44px;
    position: relative;
}
.newsWrap .titleBox{margin-bottom: 107px;}
.newsWrap .titleBox img{display: block; margin: 0 auto;}
.newsWrap .titleBox h3{
    text-align: center; color: #fff; 
    font-size: 36px; letter-spacing: -0.035em;
}
.newsWrap .txt{
    color:#fff; font-size: 16px; 
    letter-spacing:-0.035em; margin-bottom: 107px;
}
.newsWrap .btnWrap{
    display: flex; position: absolute; 
    right: 44px; cursor: pointer;
}

.main-article.two .newsWrap .news2 > ul{width: 960px; display: flex;}
.main-article.two .newsWrap .news2 .news2Box{height: 320px;}
.news2 .news2Box{padding: 37px 22px;}
.news2 .news2Box p{font-size: 14px; letter-spacing: -0.035em; color:#222;}
.news2 .news2Box span{
    font-size: 12px; letter-spacing: -0.035em; color:#444;
    position: absolute; bottom: 40px;
}
.news2 .news2Box.top span{top: 270px;}
.news2 .news2Box i{color:#E2000E; margin-right: 5px;}
.news2 > ul > li{position: relative; cursor: pointer;}
.news2 > ul > li:nth-child(1):after,
.news2 > ul > li:nth-child(3):after{
    content:"";display: block; position: absolute;
    border-width:15px;
    border-color: transparent transparent #EFEDE9 transparent;
    border-style:solid;
    left: 50%; bottom: 50%;
    transform:translateX(-50%)
}
.news2 > ul > li:nth-child(2n):after{
    content:"";display: block; position: absolute;
    border-width:15px;
    border-color: #EFEDE9 transparent transparent transparent;
    border-style:solid;
    left: 50%; top: 50%;
    transform:translateX(-50%)
}

.news2 .view{
    width: 320px; height: 320px;
    position: absolute;
    background:rgba(0,0,0,0.6);
    transition: 0.7s;
}
.news2 > ul > li:nth-child(1) .view,
.news2 > ul > li:nth-child(3) .view{top: -100%;}
.news2 > ul > li:nth-child(2n) .view{top: 100%;}
.news2 > ul > li:nth-child(1):hover .view,
.news2 > ul > li:nth-child(3):hover .view{top: 0;}
.news2 > ul > li:nth-child(2n):hover .view{top: 50%;}

.news2 .viewTxt{position: absolute; bottom: 25px; left: 25px; color:#EFEDE9;}
.news2 .viewTxt h5{font-size: 24px; letter-spacing:-0.05em;}
.news2 .viewTxt h5:before{
    content: ""; display: block; background:#EFEDE9;
    width: 45px; height: 2px; margin-bottom: 5px;
}
.news2 .viewTxt p{font-size: 16px; letter-spacing: -0.05em;}