@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif;}

.headerWrap{
    width: 1280px; height: 134px; margin: 0 auto;
    padding: 20px 0; position: relative;
}
.utilWrap{float: right; width: 1280px;}
.utilWrap ul{display: flex; justify-content: flex-end;}
.utilWrap li{margin-left: 20px;}
.utilWrap li a{font-size: 14px; color: #888; font-weight: 400;}
.utilWrap li a:hover{color:#444;}

.navWrap{width: 1280px; display: flex; position: relative;}
.logo{margin: 30px 100px 30px 0;}
.nav{display: flex; line-height: 88px;}
.nav li{margin-right: 40px; position: relative;}
.nav a{font-size: 18px; color:#171717; font-weight:700;}
.nav a:hover:before{
    position: absolute;
    content: ""; background: #171717; height: 2px; 
    left: -1px; right: -1px; bottom: 30px;
}

.navRight{position: absolute; right: 0; margin: 20px 0;}
.searchWrap{position: relative; display: flex;}
.searchWrap form{display: flex; align-items: center;}
.searchWrap .inp-search{
    width: 258px; height: 48px; background: #eee; 
    border-radius: 10px; border: 2px solid #eee;
    padding: 8px 60px 8px 18px;
    font-size: 16px;
}
.searchWrap .inp-search:focus{outline: 2px solid #ff5a00;}
.searchWrap .btn-search{
    width: 26px; height: 26px;
    align-items: center;
    position: absolute; right: 75px;
    border: 0 none;
    text-indent: -9999px;
    background-image: url(../images/ic_search.png);
    cursor: pointer;
}

.mypage{
    margin: 10px auto 0 25px; width: 26px; height: 27px;
    cursor: pointer;
}

.sliderWrap1{position: relative;}
.sliderWrap1 .bx-wrapper .bx-pager{display: none;}
.sliderWrap1 .next1,
.sliderWrap1 .prev1{
    position: absolute; top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.sliderWrap1 .next1{right: 120px;}
.sliderWrap1 .prev1{left: 120px;}

.container{width: 1280px; margin: 0 auto;}
.bannerWrap{
    display: flex; justify-content: space-between;
    margin: 100px 0 50px 0px;
}
.bannerLeft p, .bannerRight p{margin: 20px 0 0 0;}
.bannerLeft .text, .bannerRight .text{
    font-weight: 400; font-size: 24px; color: #111;
}
.bannerLeft strong, .bannerRight strong{font-weight: 700;}
.bannerLeft .go, .bannerRight .go, .bannerBottom .go{
    font-size: 16px; font-weight: 700;
    display: flex; color: #111;
}
.bannerLeft p img, .bannerRight p img, .bannerBottom p img{
    width: 30px; height: 11px;
    margin: 8px 0 0 20px;
}
.bannerBottom{
    background-image: url(../images/bann_main3.png);
    background-repeat: no-repeat;
    width: 100%; height: 180px;
    padding: 44px 0 0 30px;
}
.bannerBottom .text{font-size: 18px; color: #111; margin-bottom: 20px;}

.contentWrap{margin: 100px 0; position: relative;}
.contentTxt{width: 1280px; margin-bottom: 40px; position: relative;}
.contentTxt h2{font-size: 34px; color: #111;}
.contentTxt span{font-size: 16px; color: #111; font-weight: 700;}
.contentTxt span:before{
    content: ""; position: absolute;
    width: 103px; height: 10px; 
    background: rgba(128, 159, 216, 0.3);
    top: 35px; border-radius: 3px;
}
.contentTxt a{
    position: absolute; right: 0; top: 50px;
    font-size: 14px;
    color: #111;
}
.content{display: flex; justify-content: space-between;}
.content .product{
    width: 305px; height: 305px;
    background: #f5f5f5; padding: 35px;
    border-radius: 10px; position: relative;
    margin-bottom: 16px;
}
.content a img{width: 235px; height: 235px;}
.content .product p{position: absolute; top: 16px; left: 16px;}
.content h3{font-size: 18px; color: #171717; margin-bottom: 4px;}
.content .txt1{font-size: 14px; color: #888; margin-bottom: 10px;}
.content .login{
    font-size: 14px; color: #111; margin-bottom: 5px; 
    position: relative;
}
.content .login:before{
    content: ""; position: absolute; top: 12px; left: 0;
    width: 110px; height: 8px; background: #eee;
    z-index: -1; border-radius: 4px;
}
.content .tag{font-size: 14px; color: #888; margin-bottom: 10px;}
.content .recommend{
    font-size: 12px; padding-left: 15px;
    background-image: url(../images/ic_recommend.png);
    background-repeat: no-repeat;
    line-height: 15px; color: #888;
}