@charset "uft-8";

body{
    font-family: 'Noto Sans KR', sans-serif;
    background: #FBF4E4;
}
h1,h2,p{color:#F43B00;}
::selection {background: #59b8f7;}
:root{
    --bg-color1: #FBF4E4;
    --bg-color2: #F43B00;
    --bg-color3: #333;
    --bg-color4: #FAF8F6;
}


.bg-color1{background: var(--bg-color1);}
.bg-color4{background: var(--bg-color4);}

.navbar .nav-item a{
    font-size: 18px; font-weight: 700;
    letter-spacing: -0.03em;
}
.navbar-light .navbar-nav .nav-link{color:#111;}
.navbar-light .navbar-nav .nav-link:hover{color:#F43B00}
.navbar-light .navbar-nav .nav-link.active{color:#F43B00}

.page1 .wrap{transform: translateY(50px);}
.page1 .txtWrap{bottom: 10%; right: -10px;}
.page1 .txtWrap p{font-size: 20px; letter-spacing: -0.05em;}
.page1 .txtWrap a{
    font-size: 20px; letter-spacing: -0.05em; 
    font-weight:700; color: #F43B00;
    border-bottom: 2px solid #F43B00;
}
.page1 .mTxt{right: 0px; top: 50%;transform: translateY(-330px); z-index: 1;}
.page1 .mTxt h1{font-family: 'Shrikhand', cursive; font-size: 4.8vw;}
.page1 .mTxt .outline{-webkit-text-stroke: 2px var(--bg-color2); -webkit-text-fill-color: transparent;}

.page1 .swiper-container{overflow: visible !important;}
.page1 .swiper-slide:not(.swiper-slide-active) .txtWrap {
    opacity: 0;
    z-index: -1;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    top: -7%; left: -45%;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin-right: 6px;
}
.swiper-pagination-bullet{background: var(--bg-color3); width: 10px; height: 10px; margin-right: 15px;}
.swiper-pagination-bullet-active{
    width: 20px; height: 10px; border-radius: 8px;
    background: var(--bg-color2);
}
.page1 .scrollBtn{
    position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);
    animation: xScroll 0.8s infinite alternate;
}
@keyframes xScroll{
    to{bottom: 50px;}
}
.page1 .p1-slide{transform: translateY(0); transition: 0.8s; opacity: 0;}
.page1 .p1-slide.move{transform: translateY(50px); opacity: 1;}
.page1 .p1-title{transform: translateY(80px); transition: 1s; opacity: 0;}
.page1 .p1-title.move{transform: translateY(0); opacity: 1;}
/* section #1 end */

.page2{position: relative;}
.page2 .cicle{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
.page2 .cicle.cicle-img{
    background-image: url(../images/circle_img.png);
    top: 116px; right: -113px;
    width: 419px; height: 424px;
}
.page2 .cicle.cicle-big{
    background-image: url(../images/circle_big.svg);
    bottom: 90px; left: -77px;
    width: 293px; height: 325px;
}
.page2 .cicle.cicle-small{
    background-image: url(../images/circle_small.svg);
    bottom: 80px; left: 285px;
    width: 77px; height: 61px;
}

.page2 .txtWrap{transform: translateY(80px); z-index: 9999;}
.page2 .txtWrap h2{
    font-family: 'IBM Plex Sans KR', sans-serif; 
    font-size: 36px; letter-spacing: -0.05em;
}
.page2 .txtWrap .bigTitle{
    font-family: 'Paytone One', sans-serif; 
    font-size: 6.2vw; line-height: 120px;
    letter-spacing: -0.02em;
}
.page2 .txtWrap .txt{font-size: 20px; letter-spacing: -0.05em;}
.page2 .p2-text{transform: translateY(100px); transition: 0.8s; opacity: 0;}
.page2 .p2-text.move{transform: translateY(0); opacity: 1;}
/* section #2 end */

.page3{
    background: url(../images/bg_dal_story.svg);
    background-repeat: no-repeat;
    background-position: center 500px;
}
.page3 .txtWrap{transform: translateY(-130px);}
.page3 .txtWrap h2{
    font-family: 'IBM Plex Sans KR', sans-serif; 
    color:#2A31A0; transform: translateY(-10px);
}
.page3 .txtWrap p{
    font-family: 'IBM Plex Sans KR', sans-serif; 
    color:#2A31A0; font-size: 64px;
    letter-spacing: -0.05em; line-height: 80px;
}
.page3 .p3-text{transform: translateY(250px); transition: 0.8s; opacity: 0;}
.page3 .p3-text.move{transform: translateY(0); opacity: 1;}
/* section #3 end */

.page4 .txtWrap{transform: translateY(55%);}
.page4 .txtWrap h2{
    font-family: 'IBM Plex Sans KR', sans-serif; 
    font-size: 64px; letter-spacing: -0.05em;
}
.page4 .txtWrap p{font-size: 20px; letter-spacing: -0.05em;}
.page4 .img-moving{position: relative; height: 450px; top: 85px;}
.page4 .img-moving .menu{
    background: transparent url(../images/menu.png) repeat-x left top;
    background-size: auto 375px;
    position: absolute; z-index: 5;
    top: 100px; bottom: 0; left: 0; right: 0;
    animation: moving 20s linear infinite;
}
.page4 .img-moving .menuBottom{
    position: absolute;
    bottom: -118px; left: 0; right: 0;
    height: 250px;
    background: white;
}
@keyframes moving{
    0%{background-position: 0px 0px;}
    100%{background-position: 3567px 0px;}
}
.page4 .p4-text{transform: translateY(250px); transition: 1s; opacity: 0;}
.page4 .p4-text.move{transform: translateY(0); opacity: 1;}
/* section #4 end */

.page5 .top h4{
    font-size: 18px; font-weight: 700;
    color: #111; letter-spacing: -0.05em;
}
.page5 .top a{
    font-size: 16px; color: #888; letter-spacing: -0.05em;
}
.page5 .top a:hover{color: #111;}
.page5 .top .contact{color: #F43B00;}
.page5 .top .contact:hover{color: #F43B00;}

.page5 .app-store .btn{
    background: #fff; border: #e5e5e5 solid 1px;
    border-radius: 30px;
}
.page5 .select-family{
    width: 307px; height: 87px;
    line-height: 87px; border-bottom: 2px solid #111;
    background-color: transparent;
    font-size: 18px; font-weight: bold;
    background-image: url(../images/select-plus.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer;
}
.page5 .copyright a{font-size: 14px; font-weight: 700; color: #333;}
.page5 .copyright span{font-size: 14px; color: #999;}
/* section #5 end */


/* sub */
.lazy-load{transform: translateY(80px); opacity: 0; transition:0.5s;}
.lazy-load.fade{transform: translateY(0); opacity: 1;}

.sub .locat{top: 200px; left: 10px;}
.sub .locat a{font-size: 18px; letter-spacing: -0.03em;}

.sub01.content-one h3{
    font-size: 64px; font-weight: 700;
    color: #111; letter-spacing: -0.05em;
}
.sub01.content-one p{color: #333; letter-spacing: -0.03em;}
.sub01.content-one .btn{
    border: 1px solid #F43B00; color: #F43B00;
    font-weight: 700; letter-spacing: -0.03em;
}
.sub01.content-one .btn:hover{background: #F43B00; color: #fff;}
/* sub01 #1 end */

.sub01.content-two h3{
    font-size: 64px; font-weight: 700; 
    color: #111; letter-spacing: -0.05em;
}
.sub01.content-two .profile img{width: 130px;}
.sub01.content-two .profile p{
    font-size: 22px; font-weight: 700;
    color: #111; letter-spacing: -0.05em;
}
.sub01.content-two .profile dt{font-size: 18px; color: #111;}
.sub01.content-two .profile dd{color: #222; letter-spacing: -0.03em;}
/* sub01 #2 end */

/* sub02 #1 end */
/* sub02 #2 end */


.sub03.content-one h2{font-size: 54px; font-weight: 700; color: #111;}
.sub03.content-one p{font-size: 18px;color: #111;}
.sub03.content-one .list span{font-size: 18px; color: #111;  letter-spacing: -0.03em;}
.sub03.content-one .list p{
    font-size: 20px; font-weight: 700; 
    color: #111; letter-spacing: -0.03em;
}
/* sub03 #1 end */

.sub03.content-two h2{font-size: 48px; font-weight: 700; color: #111;}
.sub03.content-two .line h4{
    border-top: 2px solid #000; padding-top: 50px;
    font-size: 32px; font-weight: 700; color: #111;
}
.sub03.content-two .line p{font-size: 18px; color: #111; letter-spacing: -0.03em;}
/* sub03 #2 end */

.sub04.content .news1{border-top: 1px solid #ccc;}
.sub04.content .news2{border-top: 1px solid #ccc;}
.sub04.content .news3{border-top: 1px solid #ccc;}
.sub04.content .news4{border-top: 1px solid #ccc;}
.sub04.content .news5{border-top: 1px solid #ccc;}
/* sub04 end */



@media screen and (max-width:1400px){
    .sub03.content-one h2{font-size: 50px;}
    .sub03.content-one p{font-size: 16px;}
}


@media screen and (max-width:1200px){
    .page1 .txtWrap{right: -90px;}
    .page2 .txtWrap .bigTitle{line-height:90px;}
    .page2 .cicle.cicle-big{bottom: 146px;}
}
@media screen and (max-width:992px){
    .page1 .wrap{transform: translateY(0);}
    .page1 .mTxt{transform: translateY(-200px);}
    .page1 .txtWrap{right: -100px;}
    .page1 .txtWrap p{font-size: 18px;}
    .page1 .txtWrap a{font-size: 18px;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        top: -10%; left: -40%;
    }

    .page2 .txtWrap .bigTitle{line-height:70px;}
    .page2 .cicle.cicle-img{width: 388px;}
    .page2 .cicle.cicle-big{bottom: 110px; left: -100px; width: 265px;}
    .page2 .cicle.cicle-small{left: 195px;}

    .page3 .txtWrap h2{font-size: 32px;}
    .page3 .txtWrap p{font-size: 54px; line-height: 70px;}

    /* sub */
    .sub03.content-one h2{font-size: 30px;}
    .sub03.content-one .list p{font-size: 18px;}

}
@media screen and (max-width:768px){
    .page1 .mTxt{transform: translateY(-250px);}
    .page1 .txtWrap{bottom: -120px; left: 50%; transform: translateX(-50%);}
    .page1 .txtWrap p{font-size: 16px;}
    .page1 .txtWrap a{font-size: 16px;}

    .page2 .txtWrap .bigTitle{line-height:50px;}
    .page2 .txtWrap .txt{font-size: 18px;}
    .page2 .cicle.cicle-img{width: 344px;}
    .page2 .cicle.cicle-big{left: -150px;}
    .page2 .cicle.cicle-small{left: 105px;}

    .page3 .txtWrap h2{font-size: 24px;}
    .page3 .txtWrap h2 img{width: 12%;;}
    .page3 .txtWrap p{font-size: 40px; line-height: 55px;}

    .page4 .txtWrap h2{font-size: 36px;}
    .page4 .txtWrap p{font-size: 18px;}
    .page4 .img-moving .menu{background-size: auto 300px;}
    .page4 .img-moving .menuBottom{bottom: -128px; height: 300px;}

    .page5 .top a{font-size: 14px;}
    .page5 .copyright a,
    .page5 .copyright span{font-size: 12px;}

    /* sub */
    .sub01.content-one h3{font-size: 48px;}
    .sub01.content-one p{padding: 0 80px; font-size: 16px;}

    .sub01.content-two h3{font-size: 48px;}
    .sub01.content-two .profile dt{font-size: 16px;}
    .sub01.content-two .profile dd{font-size: 14px;}

    .sub03.content-two h2{font-size: 36px;}
}
@media screen and (max-width:576px){
    .page1 .mTxt{transform: translateY(-240px); right: 30px;}
    .page1 .mTxt h1{font-size: 36px;}
    .page1 .scrollBtn img{width: 45px; height: 25px;}

    .page2 .txtWrap h2{font-size: 24px;}
    .page2 .txtWrap .bigTitle{line-height:35px;}
    .page2 .txtWrap .txt{font-size: 16px;}
    .page2 .cicle.cicle-img{height: 310px;}
    .page2 .cicle.cicle-big{width: 244px; bottom: 15px; left: -150px;}

    .page3 .txtWrap h2{font-size: 20px;}
    .page3 .txtWrap p{font-size: 36px; line-height: 45px;}

    .page3 .txtWrap{transform: translateY(-100px);}
    .page4 .txtWrap h2{font-size: 24px;}
    .page4 .txtWrap p{font-size: 16px;}

    .page5 .top h4{font-size: 15px;}
    .page5 .top a{font-size: 12px;}
    .page5 .copyright a,
    .page5 .copyright span{font-size: 10px;}
    
    /* sub */
    .sub .locat a{font-size: 16px;}
    .sub01.content-one h3{font-size: 36px;}
    .sub01.content-one p{padding: 0 10px; font-size: 14px;}

}