@charset "utf-8";

@media screen and (max-width:768px){

    /* header */
    #header{top:0;z-index: 99999;}
    #header .lang{position: fixed;right: 16px;bottom: 16px;display: none;}
    #header .navbarWrap{width: 100%;padding:0 20px}
    #header .navbar{
        position: fixed;margin:initial;
        width: 70%;height: 100%;
        background: #eee;
        top:0;left: -100%;transition:0.3s;
        display: flex;justify-content: center;align-items: center;
        z-index: 11; box-shadow: 0 0 20px rgba(0,0,0,0.7);
    }
    
    #header .navbar ul{
        display: block;width:80%;
    }
    #header .navbar li{width: 100%;font-weight: bold;}
    #header .navbar li:after{display: none;}
    #header .navbar li a{color:#666;font-size:20px}

    .overLayer{
        width: 100%; height: 100%;
        position: fixed; left: 0; top: 0;
        background: rgba(0,0,0,0.5);
        z-index: 10; display: none;
    }

    .toggle{
        display: block;position: fixed;top:18px;right:16px;
        width: 24px;height: 24px;cursor: pointer;
        display: flex;justify-content: center;align-items: center; z-index: 999999;
        }
    .toggle div{
        width: 20px;height: 2px;background: #000;
        position: absolute;transition:0.3s;
    }
    .toggle .bar1{transform: translateY(-6px);}
    .toggle .bar3{transform: translateY(6px);}

    .toggle.active .bar1{transform: rotate(45deg) translateY(0);}
    .toggle.active .bar2{opacity:0}
    .toggle.active .bar3{transform: rotate(-45deg)  translateY(0);}
    
    /* visual */
    .visualWrap{height: 85vh;}
    .visualWrap .sImg{height: 85vh;min-height: initial;}
    .visualWrap .bx-wrapper .bx-pager{bottom:10px}
    .visualWrap .txtBody{text-align: left;transform: translateY(0);}
    .visualWrap .bx-controls{display: none;}
    
    /* contents */
    .contents{width: 100%; margin-top: 0;}
    .contents>ul>li{
        height: 15vh;
        width: 50%; order: 10; 
        background-position: center; 
        background-size: cover;
        background-repeat: no-repeat;
    }
    .contents>ul>li:nth-child(1){order: 1; width: 25%; height: initial; padding: 20px 0;}
    .contents>ul>li:nth-child(2){display: none;}
    .contents>ul>li:nth-child(3){order: 5; width: 100%;}
    .contents>ul>li:nth-child(4){order: 2; width: 25%; height: initial;}
    .contents>ul>li:nth-child(5){order: 3; width: 25%; height: initial;}
    .contents>ul>li:nth-child(6){_display: none; width: 100%; height: 250px;}
    .contents>ul>li:nth-child(7){display: none;}
    .contents>ul>li:nth-child(8){_display: none; width: 100%; height: 250px;}
    .contents>ul>li:nth-child(9){order: 4; width: 25%; height: initial;}
    .contents>ul>li:nth-child(10){display: none;}
    .contents>ul>li:nth-child(11){_display: none; width: 100%; position: relative; height: 250px;}

    .contents .card img{width: 50%;}

    /* vision */
    .container .section{width: 100%; padding: 0 16px;}
    .container .section .ban{flex-wrap: wrap;}
    .container .section .ban li{
        width:calc( (100% - 15px) / 2 ); cursor: pointer; 
        transition: 0.5s; margin-bottom: 30px;
    }
    .container .section .card{padding: 20px 0;}

}