@charset "utf-8";

/* header */
.toggle{display: none;}

#header{position: absolute;z-index:1;width: 100%;top:20px; background: #fff;padding:10px 0; }
#header.fixed{position: fixed;top: 0;padding: 5px 0;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
#header .navbarWrap{
    width: 1240px;margin: 0 auto;
    display: flex; 
}
#header .navbar{margin-left: auto;margin-right:10px;}
#header .navbar ul{display: flex;width: 700px;}
#header .navbar li{width: calc( 100% / 5 );position: relative;}
/* #header .navbar li:after{content:"";display:block;width: 100%;background:red;height: 3px;opacity: 0;transition: 0.3s;}
#header .navbar li:hover:after{opacity: 1;} */
/* #header .navbar li:after{content:"";position: absolute;;width:0;background:red;height: 3px;transition: 0.3s;left: 0;}
#header .navbar li:hover:after{width: 100%;} */
#header .navbar li:after{
    content:"";position: absolute;width: 100%;background:red;height: 3px;transition: 0.3s;
    transform:scaleX(0);
}
#header .navbar li:hover:after{transform:scaleX(1)}

#header .navbar li a{height: 40px;display: flex;justify-content: center;align-items: center;}


#header .lang{display: flex;width: 80px;}
#header .lang .kor,
#header .lang .eng{
    width: 80px;height: 40px;
    display: flex;justify-content: center;align-items: center;
    border: 1px solid #f00;margin-left: -1px;
    background: #fff;font-size: 14px;color:#f00;font-weight: bold;cursor: pointer;
}

#header .lang .active{background: #f00;color:white}


/* visual */
/* .visualWrap{min-height:800px} */
.visualWrap .bx-wrapper {
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: 0 none;
    margin-bottom: 0;
}
.visualWrap .sImg{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:800px;
    display: flex;justify-content: center;align-items: center;
}
.visualWrap .bx-wrapper .bx-pager{bottom: 350px;}
.visualWrap .txtBody{text-align: center;transform: translateY(-160px);}
.visualWrap .txtBody .txt{font-size: 6vw;}
.visualWrap .txtBody .stxt{width: 80vw;}


/* contents */

.contents{width: 1240px; margin: 0 auto; margin-top: -310px; margin-bottom: 60px;}
.contents>ul{display: flex; flex-wrap: wrap; position: relative;}
.contents>ul>li{width: 25%; height: 310px;}
.contents>ul>li:nth-child(1){background: #92c1d5;}

.contents>ul>li:nth-child(3){width: 50%; background: #ccc;}
.contents>ul>li:nth-child(4){background: #b8307c;}
.contents>ul>li:nth-child(5){background: #413d4e;}
.contents>ul>li:nth-child(6){width: 50%;}
.contents>ul>li:nth-child(7){height: 620px;}
.contents>ul>li:nth-child(8){width: 50%;}
.contents>ul>li:nth-child(9){background: #b8307c;}
.contents>ul>li:nth-child(10){background: #413d4e; position: absolute; bottom: 0; right: 620px;}
.contents>ul>li:nth-child(11){width: 50%; position: absolute; bottom: 0; right: 0;}


.contents>ul>li>a{height: 100%; display: flex; justify-content: center; align-items: center;}

.contents .card img{margin: 0 auto; margin-bottom: 10px;}
.contents .card p{color: #fff; text-align: center;}

.contents .txtcard{color: #fff;}
.contents .txtcard p:after{
    content: ""; display: block; 
    width: 50px; height: 2px; background:#fff;
    margin: 10px 0;
}
.contents .txtcard h3{font-size:2em;}
.flex-none{display: block !important;}
.pt30{padding-top: 30px !important;}
.pl30{padding-left: 30px !important;}

.contents .news{position: relative;}
.contents .news .item ul{display: flex;}
.contents .news .item ul>li{width: 50%; background: #fff;}
.contents .news .item ul>li:nth-child(1){
    padding-top: 65px; padding-left: 30px; padding-right: 30px;
    position: relative;
}
.contents .news .item ul>li:nth-child(1):after{
    content:"";display: block;
    border-width:20px;
    border-color:transparent transparent transparent red;
    border-style:solid;
    position: absolute;
    right: -40px;top: 50%;
    transform:translateY(-50%)
}
.contents .news .title{position: absolute; top: 30px; left: 30px;}
.contents .news .btnWrap{
    position: absolute; bottom: 30px; left: 200px; 
    cursor: pointer;  display: flex;
}
.contents .news .btnWrap .left{border-right: 1px solid #ccc;}

/* vision */
.container{
    background: url(../images/contentsbg01.jpg) no-repeat center fixed;
    background-size: cover;
    _height: 750px; color: #fff;
    padding: 70px 0;
}
.container .section{width: 1240px; margin: 0 auto;}
.container .section>h4{text-align: center;}
.container .section>h4:after{
    content: ""; display: block;
    width: 50px; height: 2px; background: #fff;
    margin: 20px auto;
}
.container .section>p{text-align: center; font-size: 2em; margin-bottom: 40px;}
.container .section .ban{display: flex; justify-content: space-between;}
.container .section .ban li{width:calc( (100% - 45px) / 4 ); cursor: pointer; transition: 0.5s;}
.container .section .ban li:hover{transform: translate(-10px,-10px);}

.container .card{ padding: 70px 0; background:orange; border-radius: 10px;}
.container .card img{display: block; margin: 0 auto;}
.container .card h3{text-align: center;}
.container .card .card-body{padding: 20px 40px; text-align: center;}